<div th:fragment="header">
    <header class="header">

        <div class="main">
            NAME'M MOVIES
        </div>

        <nav class="nav">

            <a href="/home">Home</a>

            <th:block th:if="${username != null}">
                <a href="/genres">Genres</a>
                <a href="/insights">Insights</a>
                <a href="/logout">Log Out</a>
            </th:block>

            <th:block th:if="${username == null}">
                <a href="/login">Log In</a>
                <a href="/createAccount">Create Account</a>
            </th:block>

        </nav>

    </header>

    <div class="header-accent"></div>
</div>