<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Header</title>
</head>
<div th:fragment="header">
    <header>
        <div class="main">
            NAME'M MOVIES
        </div>
        <nav>
        <th:block th:if="${username != null}">
            <a href="/home" class = "active">Home</a>
            <a href="/genres">Genres</a>
             <a href="/logout">Log Out</a>
        </th:block>
        <th:block th:if="${username == null}">
            <a href="/home" class = "active">Home</a>
            <a href="/login">Log In</a>
        </th:block>
        </nav>
    </header>
<div class = "header-accent"></div>
</div>
</html>